// scss 全局变量

$primary-color: #409eff;
$red-color: rgb(223, 58, 91);
$theme-back-dark: black;
$theme-dark: rgb(24, 24, 28);


// 手机
$phone-height: 600px;
$phone-width: 340px;
$phone-btnLine-height: 30px;
$phone-background-color: rgba(237, 237, 237, 0.5);
